<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/navbar.ejs') %>
    <section id="about">
        <h2>About Me</h2>
        <img src="/public/assests/proPic.jpg" alt="Your Photo">
        <p>Hello, I'm Saleh Ibrahim. I am passionate about Coding.</p>
        <p>Hello World!</p>
        <a href="resume.pdf" download class="btn">Download Resume</a>
    </section>

    <%- include('./partials/footer.ejs') %>
    
</body>
</html>