<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/navbar.ejs') %>
    <section id="projects">
        <h2>Projects</h2>
        <div class="project">
            <img src="/public/assests/Open-projects-teaser.jpg" alt="Project 1">
            <h3>Project 1</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla gravida urna id nunc efficitur, at scelerisque erat volutpat. Proin et justo ac urna posuere tincidunt..</p>
        </div>
        <div class="project">
            <img src="/public/assests/Open-projects-character.jpg" alt="Project 2">
            <h3>Project 2</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla gravida urna id nunc efficitur, at scelerisque erat volutpat. Proin et justo ac urna posuere tincidunt..</p>
        </div>
        <div class="project">
            <img src="/public/assests/maxresdefault.jpg" alt="Project 3">
            <h3>Project 3</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla gravida urna id nunc efficitur, at scelerisque erat volutpat. Proin et justo ac urna posuere tincidunt..</p>
        </div>
    </section>
    
    <%- include('./partials/footer.ejs') %>

</body>
</html>