<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/navbar.ejs') %>
    <section id="services">
        <h2>Services</h2>
        <p>Here are some of the services I offer:</p>
        <ul>
            <li>Web Development</li>
            <li>Graphic Design</li>
            <li>Mobile App Development</li>
            <li>UI/UX Design</li>
            <li>Consultation</li>
        </ul>
        <p>Contact me to discuss how I can help with your projects!</p>
    </section>

    <%- include('./partials/footer.ejs') %>
    
</body>
</html>